.vscode
.history

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
./__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*/*/*/__pycache__
*/*/*/*/*/*/__pycache__
*/*/*/*/*/*/*/__pycache__
*/corpus
*/*/corpus
*/*/*/corpus
*/*/*/*/corpus
*/*/*/*/*/corpus
*/*/*/*/*/*/corpus
*/*/*/*/*/*/*/corpus
*/tmp
*/*/tmp
*/*/*/tmp
*/*/*/*/tmp
*/*/*/*/*/tmp
*/*/*/*/*/*/tmp
*/*/*/*/*/*/*/tmp
*/bin
*/*/bin
*/*/*/bin
*/*/*/*/bin
*/*/*/*/*/bin
*/*/*/*/*/*/bin
*/*/*/*/*/*/*/bin
./__tmp__
*/__tmp__
*/*/__tmp__
*/*/*/__tmp__
*/*/*/*/__tmp__
*/*/*/*/*/__tmp__
*/*/*/*/*/*/__tmp__
./__cache__
*/__cache__
*/*/__cache__
*/*/*/__cache__
*/*/*/*/__cache__
*/*/*/*/*/__cache__

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.bin
*.npy
*.sklearn
*.log

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

*.so
.history